<include  file="include/header" />

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Meet a better world, find more surprises<br />
									Find more resources, meet more surprises
								</h1>
								<p>遇见更好的世界，发现更多的惊喜<br>旅行是展开的是未知之境，但我们总是在未知中遇见自己的过往 ，是旅行更是修行
									.</p>
							</header>
							<section class="tiles">
								<volist name='res' id='val' key="k">
								<article class="style{$k}">
									<span class="image">
										<img src="/Public/Home/images/pic0{$k}.jpg" alt="" />
									</span>
									<a href="/index.php/?s=home/index/generic/id/{$k}">
										<h2>{$val.cat_name}</h2>
										<div class="content">
											<p>{$val.cat_desc}.</p>
										</div>
									</a>
								</article>
								</volist>
							</section>
						</div>
					</div>

<include file="include/footer" />